<?xml version="1.0" encoding="utf-8"?>
<configuration>
      <configSections>
    </configSections>
  <system.windows.forms jitDebugging="true"/>
    <connectionStrings>
    
    <add name="InnerHeads.My.MySettings.SQL_IHDatabase_ConnectionString"
            connectionString="Data Source=192.168.200.37,1433;uid=RAM;pwd=Enjoy@321;Initial Catalog=IHDatabase;Integrated Security=False"
            providerName="System.Data.SqlClient" />

      <!--<add name="InnerHeads.My.MySettings.SQL_IHDatabase_ConnectionString"
            connectionString="Data Source=rk-pc;Initial Catalog=IHDatabase;Integrated Security=true"
            providerName="System.Data.SqlClient" />-->
      
  </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  </configuration>
